.sidebar{
    z-index: 3000;
    position: fixed;
    height: 100%;
    width: 140px;
    background-color: #131931;
    box-shadow: 10px 10px 28px -7px rgba(0,0,0,0.43);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.menu{
    position: relative;
    margin-bottom: 50px;
    padding-inline-start: 20px;
    line-height: 2.5;
}

.dash-nav{
    display: block;
    font-weight: 700;
    color: #556897;
    padding-left: 12px;
}

.sb-ico{
    margin-bottom: 3px;
    margin-right: 5px;
    color: rgb(20,171,250);
    color: linear-gradient(90deg, rgba(20,171,250,1) 0%, rgba(20,129,250,1) 100%);
}

.active .sb-ico{
    color: #fff;
}

.dash-nav:hover {
    color: #fff;
    background-color: #293566;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-decoration: none;
}

.active{
    list-style: none;
    color: #fff;
    background: rgb(20,171,250);
    background: linear-gradient(90deg, rgba(20,171,250,1) 0%, rgba(20,129,250,1) 100%);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.active:hover{
    color:white;
}


.socials{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

@media (max-width: 1200px){
    .sidebar{
        margin-top: 60px;
        width: 100%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        visibility: hidden;
        top: -10px;
        transition: top 40ms;
     }
 
     .sidebar.clicked{
         transition-delay: initial;
         visibility: visible;
         top: 0;
     }
}